extends ../index.jade

block moreStyle
    link(rel="stylesheet", href="/styles/forms.css")

block title
    title Create New Post

block content
    form(method="POST", action="/post/create")
        h1 Create New Post
        div.form-group
            label(for="title") Post Title
            input#title(name="title", type="text", required="required", placeholder="Post Title")
        div.form-group
            label(for="content") Post Content
            textarea#content(name="content", required="required", placeholder="Post Content")
        div.form-actions
            input.btn.btn-reset(type="reset", value="Clear")
            input.btn.btn-submit(type="submit", value="Create Post")
